<div class="card-wrapper">
  <div class="card">
    <div class="img" style="background-image: url(<%- url_for(page.covers[0]) %>)"></div>
    <div class="content">
      Cicada is a <a href="https://hexo.io">Hexo</a> theme, it tastes like summer.
      <hr>
      <div class="bottom"><a href="http://kexin-li.github.io">Try it</a></div>
    </div>
  </div>
  <div class="card">
    <div class="img" style="background-image: url(<%- url_for(page.covers[1]) %>)"></div>
    <div class="content">
      Catus is a markdown editor and a blog manager.
      <hr>
      <div class="bottom"><a href="http://kexin-li.github.io">Try it</a></div>
    </div>
  </div>
</div>