.post-more {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  a {
    @extend %a-blod;
    &:hover {
      border-bottom: 0;
      @extend %a-hover;
    }
  }
  .post-pre {
    span {
      @include span(left);
    }
  }
  .post-next {
    text-align: right;
    span {
      @include span(right);
    }
  }
}